@charset "utf-8";

button.btnPadding {
  padding: 11px;
  width: 200px;
  border: 10px dotted rebeccapurple;
}

button.btnMargin {
  margin: 11px;
  width: 200px;
}

p.pTest {
  background: red;
  width: 500px;
  padding: 10px 20px;
}

a {
  font-size: 2rem;
  background: blanchedalmond;
  text-decoration: none;
}

a:hover {
  font-size: 3rem;
  color: coral;
}

.boxUnitPerson1 {
  width: 250px;
  height: 250px;
  background: red;
}

.boxUnitPerson2 {
  width: 50%;
  height: 50%;
  background: rgb(66, 2, 2);
}
.boxUnitVW1 {
  width: 250px;
  height: 250px;
  background: rgb(8, 81, 216);
}

.boxUnitVW2 {
  width: 50vw;
  height: 250px;
  background: rgba(66, 2, 2, 0.7);
}

div.aUnitVWVH {
  width: 30vw;
  height: 10vh;
  background: yellowgreen;
}

.labdispay {
  text-align: right;
}
