@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  margin: 1rem 0;
  background-color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul#ul1 {
  height: 100px;
}

ul li.li-a {
  display: flex;
  height: 100px;
}

ul li a {
  padding-right: 1rem;
  text-decoration: none;
  color: white;
  transition: all 1s ease;
}

ul li.li-a a {
  padding: 1.5rem 0.5rem;
}

ul li a:hover {
  background-color: white;
  color: bisque;
}
