@charset "utf-8";

div.container {
  background: black;
  width: 20vw;
  height: 20vw;
}

.box {
  width: 10vw;
  height: 10vh;
}

.box1 {
  background-color: orange;
  /* 若沒有設定 poistion 預設都為 static 故 no staking context */
  left: 100px;
}

.box2 {
  background-color: aqua;
  position: relative;
  left: 4vw;
  bottom: 6vh;
  z-index: 2;
}

.box3 {
  background-color: rgb(245, 37, 234);
  position: relative;
  left: 2vw;
  bottom: 12vh;
  z-index: 0;
}

.container-d {
  position: relative;
}

.box4 {
  background-color: rgb(245, 242, 37);
  position: absolute;
  bottom: 0;
  right: 0;
}

.box5 {
  background-color: rgb(103, 114, 5);
  position: relative;
}

.box6 {
  background-color: rgb(236, 240, 178);
  position: relative;
}
.box7 {
  background-color: rgb(191, 178, 240);
  position: absolute;
  top: 0;
  right: 0;
}

.container-sticky {
  background: rgb(224, 157, 166);
  width: 100vw;
  height: 10vw;
  position: sticky;
  top: 0;
}
