@charset "uft-8";
/* text-font  */
body {
  font-size: 16px;
  background-image: url("../photos/login.png");
  background-repeat: no-repeat;
  background-color: beige;
  background-position: right bottom;
  background-attachment: fixed;
}

#tfpx {
  font-size: 32px;
}

#tfrem {
  font-size: 2rem;
}

/*text-align */
.title {
  font-size: 1rem;
  text-decoration: underline;
}

.content {
  font-size: 1rem;
  text-align: right;
}

a {
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  text-indent: 2rem;
}
